<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mi Página Web</title>
    <link rel="stylesheet" href="/static/css/styles.css" />
  </head>

  <body>
    <!-- Barra de navegación -->
    <nav class="navbar">
      <div class="logo">Wilmer</div>
      <ul class="nav-links">
        <li><a href="#sobre-mi">Sobre Mí</a></li>
        <li><a href="#proyectos">Proyectos</a></li>
        <li><a href="#contacto">Contacto</a></li>
      </ul>
      <button class="burger">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </nav>

    <!-- Sección de inicio -->
    <header id="inicio" class="hero-section">
      <h1>Bienvenido a Mi Página Web</h1>
      <p>Descubre más sobre mí y mis proyectos.</p>
      <a href="#sobre-mi" class="btn-primary">Saber Más</a>
    </header>

    <!-- Sección Sobre Mí -->
    <section id="sobre-mi">
      <h2>Sobre Mí</h2>
      <p>
        ¡Hola! Mi nombre es Wilmer Ulcue. Me gusta la tecnología y el desarrollo de software, pronto
        me graduaré como tecnólogo en desarrollo de software. Estoy emocionado por compartir mis Proyectos
        y conocimientos con ustedes.
        
      </p>

      <!-- Imagen personal -->
      <h2>Este soy yo </h2>
      <img src="/static/img/my-avatar.jpg" alt="Mi Foto" />

      <!-- Redes sociales -->
      <h2>Si quieres saber más puedes encontrarme en mis Redes Sociales</h2>
      <ul>
        <li><a href="https://www.facebook.com/share/1ASgTKrtcB/" target="_blank">Facebook</a></li>
        <li><a href="https://www.instagram.com/will.velasco.10?igsh=NTRnbXNhYmN4ajdh" target="_blank">instagram</a></li>
        <li><a href="https://www.linkedin.com/in/wilmer-yulian-ulcue-803b0632b?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" target="_blank">LinkedIn</a></li>
      </ul>

      <!-- Pasatiempos -->
      <h2>Mis Pasatiempos</h2>
      <ul>
        <li>Leer libros </li>
        <li>Explorar nuevas tecnologías</li>
        <li>Viajar y conocer nuevos lugares</li>
      </ul>
    </section>

    <!-- Sección Proyectos -->
    <section id="proyectos">
      <h2>Proyectos</h2>
      <!-- <div class="cards-container">
        <div class="card">
          <h3>Proyecto 1</h3>
          <p>Descripción breve del proyecto 1.</p>
        </div>
        <div class="card">
          <h3>Proyecto 2</h3>
          <p>Descripción breve del proyecto 2.</p>
        </div>
        <div class="card">
          <h3>Proyecto 3</h3>
          <p>Descripción breve del proyecto 3.</p>
        </div>
      </div> -->
    </section>

    <!-- Tareas pendientes -->
    <section>
      <h2>Mis Tareas Pendientes</h2>
      <ol>
        <li>Hacer ejercicio</li>
        <li>Terminar un proyecto personal</li>
        <li>Estudiar para un examen</li>
      </ol>
    </section>

    <!-- Tabla de horarios -->
    <section>
      <h2>Mi Horario Semanal</h2>
      <table>
        <thead>
          <tr>
            <th>Día</th>
            <th>Actividad</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Lunes</td>
            <td>Hacer ejercicio</td>
          </tr>
          <tr>
            <td>Miércoles</td>
            <td>Terminar un proyecto personal</td>
          </tr>
          <tr>
            <td>Viernes</td>
            <td>Estudiar para un examen</td>
          </tr>
        </tbody>
      </table>
    </section>
  </body>
</html>